.App {
  user-select: none;
  transition: filter 0.1s ease-in-out;
}

.App.draggingOver {
  filter: opacity(0.6);
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-inline: 16px;
  margin-block-start: 64px;
}

.emptyState img {
  width: calc(104px + 10vw);
}

.emptyState p {
  color: var(--gray-700);
  max-width: 400px;
  text-align: center;
  margin-block: 16px;
}

.emptyState button {
  margin-bottom: 4px;
}
