.TrackList {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr) max-content;
  margin: 8px 16px;
  user-select: text;
}

.TrackList .chordsColumn {
  display: none;
}

@media screen and (min-width: 768px) {
  .TrackList {
    grid-template-columns: repeat(2, 2fr) 3fr max-content;
  }
  .TrackList .chordsColumn {
    display: -webkit-box;
  }
}

@media screen and (max-width: 360px) {
  .TrackList {
    margin: 8px 4px 8px 12px;
  }
}

.label {
  user-select: none;
  font-weight: bold;
}

.tag {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-inline: 8px;
  font-weight: 500;
  border-radius: 1rem;
  background-color: var(--gray-100);
  font-size: 0.875rem;
  margin-right: 4px;
}

.TrackList div {
  min-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrackList .buttons {
  overflow: visible; /* Otherwise button box-shadow is not visible */
  display: flex;
  align-items: center;
}
