.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-inline: 16px;
}

.emptyState img {
  width: calc(104px + 10vw);
}

.emptyState p {
  color: var(--gray-700);
  max-width: 400px;
  text-align: center;
  margin-block: 16px;
}
