.ChordProgressionGeneratorDialog {
  width: 400px;
  max-width: 100%;
}

.ChordProgressionGeneratorDialog h2 {
  font-size: 1.25rem;
}

@media screen and (min-width: 640px) {
  .ChordProgressionGeneratorDialog h2 {
    font-size: 1.5rem;
  }
}

.ChordProgressionGeneratorDialog fieldset {
  border: none;
  padding: 0;
  margin-block: 8px;
}

.ChordProgressionGeneratorDialog fieldset legend {
  font-size: 0.87rem;
  font-weight: 500;
  padding: 0;
}

.ChordProgressionGeneratorDialog summary {
  margin-block: 8px;
}

.filterOptions {
  border-left: 2px solid var(--gray-200);
  padding-left: 8px;
}

.hint {
  font-size: 0.875rem;
}

.beginningSequenceDetails p {
  margin-block-end: 4px;
}

.ChordProgressionGeneratorDialog menu {
  margin-top: 8px;
}