:root {
  --gray-050: #f4f5f8;
  --gray-100: #e4e7eb;
  --gray-200: #cbd2d9;
  --gray-300: #9aa5b1;
  --gray-400: #7b8794;
  --gray-500: #616e7c;
  --gray-600: #52606d;
  --gray-700: #3e4c59;
  --gray-800: #323f4b;
  --gray-900: #1f2933;
}

@font-face {
  font-family: "Music Symbols";
  /* MacOS (and I assume iOS?) and Windows have good looking flat and sharp symbols, Android does not */
  src: local("San Francisco"), local("SF Pro") local("Segoe UI"),
    url("/M-Plus-SharpFlat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+266d, U+266f;
}

body {
  margin: 0;
  font-family: "Music Symbols", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-900);
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  box-sizing: border-box;
}

dialog {
  margin: auto;
}

button {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  appearance: none;
  background: var(--gray-100);
  border: none;
  padding-inline: 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  line-height: 1em;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  height: 32px;
}

button:active {
  background: var(--gray-200);
  transition-duration: 0s;
}

button > svg {
  margin: -4px;
  margin-inline-end: 2px;
  color: var(--gray-700);
}

button.icon-only {
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 0 0 transparent;
}

@media (hover: hover) {
  button.icon-only:hover {
    transition: all 0.2s ease-out;
    background: var(--gray-050);
    box-shadow: 0 0 0 4px var(--gray-050);
  }
}

button.icon-only:active {
  transition: all 0.05s ease-out;
  background: var(--gray-100);
  box-shadow: 0 0 0 4px var(--gray-100);
}

button.icon-only > svg {
  width: 24px;
  height: 24px;
  margin: 0;
}

button.icon-only:active > svg {
  color: black;
}

button.primary {
  background: var(--gray-800);
  color: white;
}

button.primary:active {
  background: var(--gray-600);
}

button.primary > svg {
  color: var(--gray-100);
}

input[type="text"] {
  height: 40px;
  line-height: 40px;
}

input[type="text"],
textarea {
  user-select: initial;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  background: var(--gray-050);
  box-shadow: 0 2px 0px -2px var(--gray-100) inset;
  padding-inline: 12px;
  padding-block: 8px;
  transition: background-color 0.2s ease;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  background: var(--gray-100);
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

label > input,
label > textarea {
  display: block;
}
