.Dialog {
  border: none;
  padding: 1.5rem;
  user-select: none;
  max-width: calc(100vw - 32px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  visibility: hidden;
  transform: translateY(100%);
  display: block;
  position: fixed;
  transition: all 0.2s ease-in;
  opacity: 0;
  inset-block: 0;
  margin-bottom: 16px;
  width: 100%;
}

.Dialog[open] {
  transition-timing-function: ease-out;
  transform: none;
  visibility: visible;
  opacity: 1;
}

.Dialog::backdrop {
  background: rgba(0, 0, 0, 0.1);
  animation: backdrop-fade 0.1s ease-out forwards;
}

@keyframes backdrop-fade {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 640px) {
  .Dialog[open],
  .Dialog:not([open]) {
    margin-bottom: auto;
    width: fit-content;
    transition-duration: 0.1s;
  }

  .Dialog:not([open]) {
    transform: translateY(16px);
  }
}
